@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
@import 'base/vars'  
    
body 
    color: $main-font-color
    // font-family: 'Montserrat', sans-serif
    font-family: 'Roboto Slab', serif

ul
    padding: 0
    margin: 0

a:hover
    color: inherit

h1, h2, h3, h4
    font-family: 'Montserrat', sans-serif
    font-weight: 400 

.container
    max-width: 1148px //width 1138
    padding: 0 10px
    margin: 0 auto

.font-red
    color: $main-elements-color !important

.font-white
    color: #ffffff

@media (max-width: 1147px)
    .container
        max-width: 970px

@media (max-width: 1001px)
    .container 
        max-width: 730px

@media (max-width: 777px)
    .container
        max-width: none

@import 'blocks/btn'
@import 'blocks/section-intro'
@import 'blocks/about'
@import 'blocks/carousel'
@import 'blocks/section-inner'
@import 'blocks/works'
@import 'blocks/overlay'
@import 'blocks/get-form'
@import 'blocks/form'
@import 'blocks/form-error'
@import 'blocks/header'
@import 'blocks/nav'
@import 'blocks/logo'
@import 'blocks/to-top'
@import 'blocks/footer'
@import 'blocks/blog-posts'
@import 'blocks/clients'